Flask==3.1.0
fuzzywuzzy==0.18.0
langchain==0.0.27
langchain_community==0.3.17
langchain_openai==0.3.6
matplotlib==3.7.5
openai==1.63.0
pandas==2.0.3
pymongo
python-dotenv==1.0.1
seaborn==0.13.2
streamlit==1.40.1
